/* Imports */



/* General */

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: #f8efb6;
}

/* Navbar */

.navbar-container {
    position: relative;
    height: 100vh;
}
.navbar {
    position: relative;
    display: flex;
    justify-content: center;
    border-right: #62402e solid 0.5px;
    height: 100vh;
    flex-direction: column;
}
.navbar-item {
    display: flex;
    height: 60px;
    margin: 10px 20px;
}
.navbar-item-text {
    color: #62402e;
    font-size: 2vw;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto 20px;
}
.navbar-item-icon {
    position: relative;
    margin: 10px;
    display: inline;
}
.navbar-item-selected {
    background-color: #f8c200;
    border-radius: 30px;
    > .navbar-item-text {
        font-weight: 700;
    }
}
