/* Imports */


/* Screenrules */

@media (max-width: 750px) {
    .navbar-item-text {
      display: none;
    }
    .navbar-item {
      width: 60px;
    }
    .navbar {
      width: 100px;
    }
    .profile-name {
      display: none;
    }
    .profile-icon {
      margin: auto 50px;
    }
  }
  
  /* General */
  
  body {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
      position: relative;
      display: flex;
      flex-direction: row;
      background-color: #f8efb6;
  }
  
  /* Navbar */
  
  .navbar-container {
      position: relative;
      height: 100vh;
      border-right: #62402e solid 0.5px;
  }
  .navbar {
      position: relative;
      display: flex;
      justify-content: center;
      border-bottom: #62402e solid 0.5px;
      height: 85vh;
      flex-direction: column;
  }
  .navbar-item {
      display: flex;
      height: 60px;
      margin: 10px 20px;
  }
  .navbar-item-text {
      color: #62402e;
      font-size: 2vw;
      font-family: Arial, Helvetica, sans-serif;
      margin: auto 20px;
  }
  .navbar-item-icon {
      position: relative;
      margin: 10px;
      display: inline;
  }
  .navbar-item-selected {
      background-color: #f8c200;
      border-radius: 30px;
      > .navbar-item-text {
          font-weight: 700;
      }
  }
  .profile-container {
    width: 100%;
    height: 15vh;
    position: relative;
    display: flex;
  }
  .profile-icon {
    margin: auto 20px;
  }
  .profile-name {
    font-size: 2vw;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto 10px;
  }